@chartset 'UTF-8';
html {
  font-size: 50px;
  min-width: 1440px; }

 *{
 	padding: 0;
 	margin: 0; 	
 }
.container{
	
	margin: 0 auto;
	padding: 0;
}
.header_nav{
	height:  80px;
	border-bottom: 1px solid #dee0df;
	/*width: 1140px;*/
	margin: 0 auto;
	overflow: hidden;
	.logo{
		float: left;
		height: 80px;
		margin-left: 10%;
	}
	.title{
		float: right;
		overflow: hidden;
		margin-right: 15%;
	}
	img{
		
		height: 80px;
	}
	ul{
		list-style-type: none;
		font-size: 0.45rem;
	}
	li{
		float: right;
		line-height: 80px;
		margin: 0 15px;
		padding: 0 35px;
		color: #525252;
		border-left: 1px solid #dee0df;
		border-right: 1px solid #dee0df;
	}
	li:hover{
		color: #f4645f;
	}
}
.introduction{
	width: 70%;
	margin: 0 auto;
	padding-top: 2.5rem;
	.introduction_top{
		margin: 0 auto;
		width: 336px;
	}
	.introduction_bottom{
		.introduction_Slogan{
			text-align: center;
			margin-top: 1rem;
			span:first-child{
				margin-bottom:0.4rem;
			}
			span:nth-child(3){
				font-size:1.4rem;
			}
		}
		.introduction_go{
			text-align: center;
			font-size: 10px;
			color: #d0cece;
			margin-bottom: 1rem;
		}
		.introduction_go:hover{
			color: #4E4E4E;
		}
	}
}
.index_teacher{
	width: 100%;
	padding: 2rem 150px;
	box-sizing: border-box;
	margin: 0 auto;
	background: url("../img/bg21.jpg");
   .index_teacher_news{
		text-align: center;
		>h1{
			font-size:1.2rem;
		}
		>p{
			font-size: 0.7rem;
		}
		>span{
			color: #BFBEBE;
			font-size: 0.2rem;
		}
   }
   .index_teacher_box{
		width: 100%;
		height: 14rem;
		background-color: #fff;
		border: 1px solid #eae7ea;
		margin-top: 50px;
		overflow: hidden;
		>li{
			display: inline-block;
			width: 25%;
			height: 100%;
			float: left;
			.index_teacher_box_1{
			    width: 100%;
			    height:50%;
			    >span{
			        font-size: 28px;
			        text-align: center;
			        display:block;
			        padding-top: 80px;
			    }
			    p{
			        font-size: 17px;
			        line-height:1.6em;
			        text-align: center;
			        font-family:"黑体";
			        color: #707070;
			    }
			}
			.index_teacher_box_2{
			    width: 100%;
			    height:50%;
			    overflow: hidden;
			    img{
			        width: 100%;
			        height:100%;
			    }
			    img {    
			    	transition:All 0.6s ease-in-out;
			        -webkit-transition:All 0.6s ease-in-out;
			        -moz-transition:All 0.6s ease-in-out;
			        -o-transition:All 0.6s ease-in-out;
			    }			    
			}
		}
		li:hover img {
			transform:scale(1.2);
			-webkit-transform:scale(1.2);
			-moz-transform:scale(1.2);
			-o-transform:scale(1.2);
			-ms-transform:scale(1.2);
		}
   }
}
.index_new{
	width: 100%;
	padding: 2rem 150px  0 2rem;
	box-sizing: border-box;
	margin: 0 auto;
	background: url("../img/bg21.jpg");
	.index_new_news{
		text-align: center;
		>h1{
		    font-size: 0.97rem;
		}
		>p{
		    line-height: 1.5em;
		    font-size: 0.5rem;
		}
		>a{
		    text-decoration: none;
		    color: #aab14a;
		    font-size: 0.2rem;
		}
	}
	.index_new_news1{
		height: 14rem;
		margin-top: 1rem;
		.index_new_news_p{
			float: left;
			width: 50%;
			height: 100%;
			img{
				height: 100%;
				width: 100%;
			}
		}
		.index_new_news_t{
			height:100%;
			width:49%;
			float: right;
			font-size: 0.3rem;
			ul{
				list-style: none;
				width: 100%;
				height: 100%;
				display: block;
				li{
					height:25%;
					width:100%;
					display: block;
				    padding: 35px  80px;
				    box-sizing: border-box;
				     a{
		    			display: block;
		    			height:100%;
		    			width:100%;
		    		    text-decoration: none;
		    		    color: #474747;
		    		    line-height:1.8em;
		    		}
				}
			}
		}
	}
	.news_choose{
	    animation:new11 0.5s;
	    animation-fill-mode:forwards;
	}
	.news_choose1{
	    color: #fff!important;
	}
	@keyframes new11 {
	    from{background-color: #e25b5b;opacity: 0.6;transform: scale(0.5,0.5)}
	    to{background-color: #e25b5b;transform: scale(1.05,1);}
	}
}
footer{
	width: 100%;
	padding-top: 250px;
	margin: 0 auto;
	background-position:0 -500px;
	background-size:100% ;
	background-image: url(../img/bg22.jpg);
	color: #655623;
	font-size: 25px;
	text-align: center;
	.share{
		ul{
			list-style-type: none;
			height:100px;
			width: 600px;
			margin:0 auto;
			li{
				height: 60px;
				width: 60px;
				float: left;
				margin:0 30px;
				a{
					width: 100%;
					height:100%;
					img{
						width: 100%;
						height:100%;
					}
				}
			}
		}
	}
}
.introduct_brand{
	width: 100%;
	height:950px;
	margin:0 auto;
	padding-top:10px; 
	background: url("../img/bg21.jpg");
	h1{
		margin-bottom: 65px;
		font-size: 50px;
		text-align: center;		
	}
	.introduct_brand_main{
		height:650px;
		width:650px;
		border-radius: 325px;
		background-color:#46d8e6;
		margin:0 auto;
		box-shadow:  10px 15px 50px 50px rgba(132, 34, 222, 0.45);
		position: relative;
		h1{
			display: inline-block;
			margin: 80px 0 0 170px ;
			font-size: 130px;
		}
		p{
			display: inline-block;
			font-size: 20px;
			margin:15px 50px;
			text-indent: 2em;
		}
	}
	.introduct_brand_main1{
		height:200px;
		width:200px;
		opacity:0.8;
		border-radius: 100px;
		background-color:rgba(70, 171, 230, 0.67);
		position: absolute;
		right: 10px;
		bottom:-30px;
		-webkit-animation:main_12 2s linear infinite;
		-o-animation:main_12 2s linear infinite;
		animation:main_12 2s linear infinite;
		h2{
			font-size: 30px;
			text-align: center;
			line-height:200px;
		}
		@keyframes  main_12{
			0%{transform: rotate(0deg)}
			25%{transform:rotate(-15deg)}
			50%{transform:rotate(0deg)}
			75%{transform:rotate(15deg)}
			100%{transform:rotate(0deg)}
		}
	}
}
.contract{
	position: fixed;
	right: 60px;
	bottom: 150px;
	width: 70px;
	height: 210px;
	background-color: #e25b5b;
	z-index: 1000;
	font-size: 25px;
	text-align: center;
	line-height: 68px;
	div{
		width: 100%;
		height: 33%;
		a{
			text-decoration: none;
			color: #000;
		}
	}
	.Customer_service,.weichat_service{
		border-bottom: 1px solid #fff;
	}
	.weichat_service{
		position: relative;
		img:first-child{
			width: 80%;
			height: 80%;
			margin-top: 10%
		}
		.weichat_contract{
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translate(-100%);
		}
	}
}
.news_header{
	background-color: #ededed;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
	.news_header_header{
		width: 980px;
		height: 60px;
		margin: 0 auto;
		padding-left: 20px;
		background-color: #fff;
		font-size: 17px;
		line-height: 60px;
		.news_header_header_eng{
			color: #c6c6c6;
		}
	}
}
.news_page{
	font-size: 12px;
	width: 100%;
	background-color: #ededed;
	ul{
		width: 1000px;
		margin: 0 auto;
		list-style-type: none;
		.news_page_li{			
			background-color: #fff;
			position: relative;
			clear: both;
			>img{
				margin: 20px 40px;
			}
			.news_page_li_Date{
				position: absolute;
				height: 80px;
				width: 78px;
				top: 20px;
				left: -78px;
				text-align: center;
				padding-top: 10px;				
				.news_page_li_Date_Day{
					font-size: 30px;
					color: #fff;
				}
			}
			.news_page_li_right{
				float: right;
				width: 715px;
				margin-top: 20px;
				padding-right: 40px;
				a{
					text-decoration: none;
					color: #000;
					font-size: 20px;
				}
				.news_page_li_right_Sum{
					font-size: 14px;
					padding:  26px 0 20px;
					color: #616161;
				}
				.news_page_li_right_DetDate{
					font-size: 14px;
					color: #616161;
				}
			}
			.news_page_li_block{
				width: 100%;
				height: 40px;
				background-color: #ededed;
			}
		}
	}
}
.news_page_change{
	width: 100%;
	background-color: #ededed;
	padding-bottom: 50px;
	.news_page_change_div{
		width: 700px;
		margin: 0 auto;
		font-size: 15px;
		text-align: center;
		span{
			padding: 0 10px;
		}
	}
}

